{% extends 'AdminBundle::admin-layout.html.twig' %}

{% block content %}
     <div class="row top-list">
        <div class="row">
            <h1 class="col-lg-4 col-sm-4">Liste des pays</h1>
        </div>
        <div class="row">
            <a href="{{ path('admin_country_new') }}"><button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Créer un nouveau pays</button></a>
        </div>
    </div>

    <table class="table table-bordered table-responsive table-striped" id="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <td>{{ country.name }}</td>
                <td>
                    <a href="{{ path('admin_country_show', { 'id': country.id }) }}"><input type='button' class='btn btn-default' value='Voir'></a>
                    <a href="{{ path('admin_country_edit', { 'id': country.id }) }}"><input type='button' class='btn btn-default' value='Modifier'></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
