{% extends "AdminBundle::admin-layout.html.twig" %}

{% block content %}
    <h1>Création d'un thème</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <a href="{{ path('admin_theme_index') }}"><button type="button" class="btn btn-primary">Retour à la liste</button></a>
        <button type="submit" class="btn btn-success pull-right">Créer</button>
    {{ form_end(form) }}
{% endblock %}
