{# Page d'affichage des jeux dans la partie publique #}

{% extends "CommonBundle::common-layout.html.twig" %}

{% block content %}

    <div id="main-div" class="row">
        <h2 id="pagetitle">Les jeux de Strata'j'm</h2>
            <div id="filterDiv" class="col-xs-3 col-sm-3 col-md-2">
                <p>Critères</p>
                <p>Critères</p>
                <p>Critères</p>
                <p>Critères</p>
                <p>Critères</p>
                <p>Critères</p>
                <p>Critères</p>
            </div>
        

        {% for game in games %}
            {{ game.name }}
            {% if game.releaseDate %}{{ game.releaseDate|date('Y-m-d H:i:s') }}{% endif %}
        {% endfor %}

    </div>

    

{% endblock %}