{# Page d'affichage des jeux dans la partie publique #}

{% extends "CommonBundle::common-layout.html.twig" %}

{% block content %}

    <div id="main-div" class="row">
        <h2 id="pagetitle">Les jeux de Strata'j'm</h2>
        
        <div id="filter-panel" class="col-xs-3 col-sm-3 col-md-2">
            <p>Critères</p>
            <p>Critères</p>
            <p>Critères</p>
            <p>Critères</p>
            <p>Critères</p>
            <p>Critères</p>
            <p>Critères</p>
        </div>
    
        <div id="games-panel" class="col-xs-7 col-sm-7 col-md-8">
            {% for game in games %}
                <a class="game-sticker thumbnail" href="#">
                    <img src="#" alt="#" class="game-image">                
                    <div class="game-name">{{ game.name }}</div>

                </a>
            {% endfor %}
        </div>

    </div>

    

{% endblock %}