<div id="loader" class="text-center">
    <img src="{{ asset('images/loader.gif') }}" alt="#" class="game-image">
</div>
{% if  pagination is null %}
<p>
   Aucun jeu ne correspond a votre recherche
</p>
{% else %}
{% for game in pagination %}
    <tr {% if loop.index is odd %} class="color" {% endif %}>
        <td>{{ game.id }}</td>
        <td>{{ game.name }}</td>
    </tr>
{% endfor %}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endif %}
