<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
      <h1 align="center"> Règles du jeu  - {{ game.name }}</h1>
      <div>
        {{ game.rules | raw }}
      </div>
    </body>
</html>
