{% extends "AdminBundle::admin-layout.html.twig" %}
{%  form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}
    <h1>Member creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success pull-right" value="Create" />
    {{ form_end(form) }}
    <a href="{{ path('admin_member_index') }}"><button class="btn btn-default col-lg-offset-2">Retour à la liste</button></a>
{% endblock %}
