{% extends "AdminBundle::admin-layout.html.twig" %}

{% block content %}
    <h1>Création d'un membre</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}        
        <input type="submit" class="btn btn-success pull-right" value="Créer" />
    {{ form_end(form) }}
    <div class="col-sm-4">
        <a href="{{ path('admin_member_index') }}"><button class="btn btn-primary">Retour à la liste</button></a>
    </div>
{% endblock %}
