{% extends "AdminBundle::admin-layout.html.twig" %}

{% block content %}
    <h1>Paymentmethods list</h1>

    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paymentMethod in paymentMethods %}
            <tr>
                <td>{{ paymentMethod.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_paymentmethod_show', { 'id': paymentMethod.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_paymentmethod_edit', { 'id': paymentMethod.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_paymentmethod_new') }}">Create a new paymentMethod</a>
        </li>
    </ul>
{% endblock %}
