{% extends "AdminBundle::admin-layout.html.twig" %}

{% block content %}
    <div class="row top-list">
        <div class="row">
            <h1>Liste des moyens de paiement</h1>
        </div>
        <div class="row">
            <a href="{{ path('admin_paymentmethod_new') }}"><button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Créer un nouveau moyen de paiement</button></a>
        </div>
    </div>

    <table class="table table-bordered table-responsive table-striped" id="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paymentMethod in paymentMethods %}
            <tr>
                <td>{{ paymentMethod.name }}</td>
                <td>
                    <a href="{{ path('admin_paymentmethod_show', { 'id': paymentMethod.id }) }}"><input type='button' class='btn btn-default' value='Voir'></a>
                    <a href="{{ path('admin_paymentmethod_edit', { 'id': paymentMethod.id }) }}"><input type='button' class='btn btn-default' value='Modifier'></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
