{% extends '::base.html.twig' %}

{% block title %}Les jeux{% endblock %}

{% block head %}
	    {% block stylesheets %}

	        {{ parent() }}

		        {% stylesheets

			        '@CommonBundle/Resources/public/css/common-theme.css'

		        %}

	        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
{% endblock %}

{% block body %}
	<header>
		<div id="header-images">
			<img src="{{ asset('images/header.jpg') }}" alt="Logo Strata'j'm"/>
			<img src=" {{ asset('images/nav.png') }}" alt="Nav logo"/>
		</div>


		<nav id="nav-bar">
			<ul>

				<li class="nav-element"><a href="http://stratajm-idf.fr" class="nav-link">Qui sommes nous</a>
					<ul class="first-ul">
						<li><a class="first-sublink" href="http://stratajm-idf.fr/?page_id=66">Nos status</a></li>
						<li><a href="http://stratajm-idf.fr/?page_id=70">Partenaires</a></li>
					</ul>
				</li>

				<li class="nav-element"><a href="#" class="nav-link">Nos propositions</a>
					<ul class="first-ul">
						<li><a class="first-sublink" href="http://stratajm-idf.fr/?page_id=34">Notre plaquette</a></li>
						<li class="sousmenu-li"><a href="http://stratajm-idf.fr/?page_id=333">Nos jeux</a>
							<ul class="second-ul">
								<li><a href="http://stratajm-idf.fr/?page_id=19">Jeux géants</a></li>
								<li><a href="http://stratajm-idf.fr/?page_id=25">Jeux traditionnels</a></li>
								<li><a href="http://stratajm-idf.fr/?page_id=29">Jeux de société</a></li>
							</ul>
						</li>
						<li><a href="http://stratajm-idf.fr/?page_id=31">Organisation de tournois</a></li>
						<li><a href="http://stratajm-idf.fr/?page_id=39">Organisation de rallye</a></li>
					</ul>
				</li>

				<li class="nav-element"><a href="http://stratajm-idf.fr/?page_id=385" class="nav-link">Nos prochaines animations</a>
					<ul class="first-ul">
						<li><a class="first-sublink" href="http://stratajm-idf.fr/?page_id=571">Les soirées Strata'j'm</a></li>
					</ul>
				</li>

				<li class="nav-element"><a href="#" class="nav-link">Nos dernières animations</a>
					<ul class="first-ul">
						<li><a class="first-sublink" href="http://stratajm-idf.fr/?page_id=1046">Tournoi inter-quartier 2015</a></li>
						<li><a href="http://stratajm-idf.fr/?page_id=371">Prévention SIDA-Chelles</a></li>
						<li class="sousmenu-li"><a href="http://stratajm-idf.fr/?page_id=400">Jeux GRIAL</a>
							<ul class="second-ul">
								<li><a href="http://stratajm-idf.fr/?page_id=405">Décembre</a></li>
							</ul>
						</li>
						<li><a href="http://stratajm-idf.fr/?page_id=323">Fête du jeux de Thoiry (78)</a></li>
						<li><a href="http://stratajm-idf.fr/?page_id=119">Colombes Eco-Tour</a></li>
					</ul>
				</li>
				<li class="nav-element"><a href="#" class="nav-link">Contact</a></li>
			</ul>
		</nav>


		</div>
	</header>

	{% block content %}
	{% endblock %}

	<footer>
		<img src="http://stratajm-idf.fr/wp-content/uploads/2012/09/logofb.png" width="27" height="27">
		<p id="footer-mentions">BP 120 92704 Colombes cedex, Tél : 01-47-82-80-56 Copyright © [strata'J'M] 2012<p>
	</footer>

{% endblock %}
