body {
  background-color: #e8d8c9;
  width: 920px;
  height: 100%;
  margin: auto;
}

header {
}

#header-images {

}

#main-div {
  background-color: #F2EAE9;
  float: left;
  width: 100%;
}

#nav-bar {
  position: relative;
  margin-top: -47px;
  width: 100%;
  height: 100%;
}

.nav-element {
  display: inline-block;
  color: #F2EAE9;
  margin-left: 24px;
  margin-right: 24px;
  height:100%;
}

.nav-element a {
  text-decoration: none;
  color: #FFFFFF;
}

.nav-element:hover {
  background-color: #8D6053;
}

#nav-bar, #main-div {
  padding: 14px;

}


#pagetitle {
  color: #1E3F52;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

#filter-panel {
  height:100%;
  width: 30%;
  float: left;
  margin-right: 5%;
}

#games-panel {
    width: 500px;
    height: 100%;
    float: left;
}


#game_search_Rechercher:before {
    color:black;
    font-family: "Glyphicons Halflings";
    content: "\e003";
 }

 #filters-dropdown {
   display: none;
 }

 #form-game-sort {
   display: block;
 }

 .open>#form-game-sort{display: block;}
  .open>#filters-dropdown:after{
    color:black;
    font-family: "Glyphicons Halflings";
    content: "\e260";
  }

#loader {
  display: none;
}

.form-game-search {
  /*float:right;*/
}
.dropdown-menu{
  position: relative !important;
  width: 100% !important;
  background: none;
}
.game-sticker {
  width:100%;
  height:300px;
  float: left;
}

.game-sticker .game-sticker-image {
  width:180px;
  height:171px;
}

.game-sticker-image {
  float: left;
  margin-right: 5%;
}

.game-sticker-info {
  float:left;
}

/*******************/
/* singleGame page */
/*******************/
.game-media {
}

#single-game-image {
  width: 40%;
  height: 40%;
  float: left;
  border: solid black 2px;
}

#single-game-text {
  float: left;
  margin-left: 15px;
}


main-div-footer-border {
  width:100%;
  height:1500px;
}


/*******************/
/* Footer */
/*******************/
footer {
  float:left;
  padding-top: 5px;
  background-color: #5C3E37;
  text-align: center;
  width:100%;
}

#footer-mentions {
  color: #C2CFDB;
  font-size:11px;
}

/*******************/
/* Media queries for sort form on mobile and tablet*/
/*******************/
@media (max-width: 1000px)
{
  #filter-panel{
    width: 100%;
    height: auto;
  }
  #filters-dropdown{
    display: block;
    width: 100%;

  }
  #filters-dropdown:after{
    color:black;
    font-family: "Glyphicons Halflings";
    content: "\e259";
  }

  #form-game-sort{
    display: none;
  }
}
