body {
  background-color: #e8d8c9;
}

header {
}


#nav-bar {
  background-color: #5C3E37;
}

.nav-element {
  color: #F2EAE9;
  padding-left: 26px;
  padding-right: 26px;
}

#nav-bar, #main-div {
  padding: 14px;

}


#pagetitle {
  color: #1E3F52;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

#filter-panel {
  border: solid red;
}

#main-div {
  background-color: #ffffff;

}

.game-sticker {
  width:180px;
  height:171px;
}

footer {
  padding-top: 5px;
  background-color: #5C3E37;
  text-align: center;
}

#footer-mentions {
  color: #C2CFDB;
  font-size:11px;
}
